.editor {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  white-space: pre;
  overflow: auto;
  background-color: var(--background-color);
  box-shadow: 0 0 1rem rgba(0,0,0,0.1);
  transition: box-shadow var(--transition-speed) ease;
  margin-bottom: 2rem;
  position: relative;
}
.CodeMirror {
  font-size: 18px;
  max-width: 1000px; /* Adjust this value to your liking */
}

.editor:hover {
  box-shadow: 0 0 2rem rgba(0,0,0,0.2);
}

.editor:read-only {
  background-color: #ddd;
  cursor: not-allowed;
}
.correct {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
}
.role {
  font-size: 1.5rem;
  color: #5d36d2;
  margin-bottom: 1rem;
}